PORT=8080
SHUTDOWN_TIMEOUT=5s
BASE_URL=http://localhost:8080
STORAGE=memory
SHORTCODE_LENGTH=10
SHORTCODE_ALPHABET=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789_
SHORTCODE_MAX_RETRIES=5
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=postgres
